# Ignore node_modules directory in backend
backend/node_modules
backend/.env
# backend/build

# Ignore node_modules directory in frontend
frontend/node_modules
frontend/.env
# frontend/build

# Ignore other common files and directories
.env
*.log
*.lock
.vercel
node_modules
